# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# Uploads
uploads/*
!uploads/.gitkeep

# Env
.env

# OS
.DS_Store
